In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',1000)

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Data Understanding

*RKL
*John Hopkins
*Rest APIs

## Goals

* We would like to understand the data quality

* Everything should be automated as much as possible:
    how many clicks do we need to execute the full pipeline

## Contraints:

* Each notebook should be left clean and ready for full execution

In [ ]:
datapath = '../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw =pd.read_csv(datapath)

In [ ]:
pd_raw

In [ ]:
pd_raw.columns[4:]

In [ ]:
time_idx = pd_raw.columns[4:]

In [ ]:
df_plot = pd.DataFrame({'date':time_idx})
df_plot.head()

In [ ]:
pd_raw['Country/Region']

In [ ]:
len(pd_raw['Country/Region'].unique())

In [ ]:
pd_raw[pd_raw['Country/Region']=='United Kingdom'].iloc[:,4::].sum(axis=0)

In [ ]:
final_data_list=[]

In [ ]:
country_list =('Spain','Germany','Australia','Italy','China'     
                             )

In [ ]:
for each in country_list:
    df_plot[each]= np.array(pd_raw[pd_raw['Country/Region']==each].iloc[:,4::].sum(axis=0))

In [ ]:
%matplotlib inline
df_plot.head()

In [ ]:
%matplotlib inline
df_plot.set_index('date').plot()

In [ ]:
type(df_plot.date[0])

In [ ]:
df_plot.head()

In [ ]:
from datetime import datetime

In [ ]:
df_plot.date[0]

In [ ]:
datetime.strptime(df_plot.date[0],"%m/%d/%y")

In [ ]:
time_index =[datetime.strptime(each, "%m/%d/%y") for each in df_plot.date]
time_index[0:5]

In [ ]:
time_str = [datetime.strftime(each, "%y-%m-%d") for each in time_index]
time_str[0:5]

In [ ]:
df_plot['date']=time_index
type(df_plot['date'][0])

In [ ]:
df_plot.head()

In [ ]:
df_plot.to_csv('../data/processed/COVID_small_flat_table.csv', sep=';')

In [ ]:
##Relational data model -defining PK

In [ ]:
pd_raw =pd.read_csv(datapath)
pd_raw.head()

In [ ]:
pd_data_base=pd_raw.rename(columns={'Province/State':'state', 'Country/Region': 'country'})

In [ ]:
pd_data_base=pd_data_base.drop(['Lat','Long'],axis=1)
pd_data_base.head()

In [ ]:
pd_data_base.set_index(['state','country'])

In [ ]:
test_pd =pd_data_base.set_index(['state','country']).T

In [ ]:
test_pd.columns

In [ ]:
test_pd.stack(level=[0,1]).reset_index().rename(columns={'level_o':'date','0':'confirmed'})

In [ ]:
test_pd.dtypes

In [ ]:
test_pd.to_csv('../data/processed/COVID_relational_data.csv', sep=';')

## Group-by apply

In [58]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state     country  confirmed
0 2020-01-22  Alberta      Canada        0.0
1 2020-01-22       no      Kosovo        0.0
2 2020-01-22       no      Kuwait        0.0
3 2020-01-22       no  Kyrgyzstan        0.0
4 2020-01-22       no        Laos        0.0

In [59]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2022-01-01')]

In [60]:
len(test_data)

270

In [61]:
test_data.groupby(['country']).agg(np.max)

              date state   confirmed
country
Germany 2022-05-16    no  25818405.0
US      2022-05-16    no  82613620.0

In [62]:
# %load ../src/features/build_features.py
import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)
import pandas as pd

from scipy import signal


def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate

        Parameters:
        ----------
        in_array : pandas.series

        Returns:
        ----------
        Doubling rate: double
    '''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

if __name__ == '__main__':
    test_data_reg=np.array([2,4,6])
    result=get_doubling_time_via_regression(test_data_reg)
    print('the test slope is: '+str(result))

the test slope is: [2.]

In [63]:
test_data1=test_data.groupby(['state','country']).agg(np.max)
test_data1

                    date   confirmed
state country
no    Germany 2022-05-16  25818405.0
      US      2022-05-16  82613620.0

In [ ]:
import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)
import pandas as pd

from scipy import signal


def get_doubling_time_via_regression1(in_array):
    ''' Use a linear regression to approximate the doubling rate

        Parameters:
        ----------
        in_array : pandas.series

        Returns:
        ----------
        Doubling rate: double
    '''
    #print(in_array)
    #print(type(in_array))
    y = np.array(in_array['confirmed'])
    X = np.arange(len(y)).reshape(-1, 1)
    #y = np.array(in_array)
    #X = np.arange(-1,2).reshape(-1, 1)

    #assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

#if __name__ == '__main__':
  #  test_data_reg=np.array([2,4,6])
   # result=get_doubling_time_via_regression(test_data_reg)
   # print('the test slope is: '+str(result))

In [ ]:
# this command will only work when adapting the get_doubling_time_via_regression function

test_data.groupby(['state','country']).apply(get_doubling_time_via_regression1)

In [64]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [65]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  202675            NaN
                202959            NaN
                203244     293.887868
                203529     162.012190
                203814     118.442367
                204100     121.963815
                204384     132.197147
                204669     161.561176
                204954     242.906801
                205239     212.629577
                205524     120.408516
                205809      94.683745
                206095      89.228634
                206380      91.993507
                206664     121.124787
                206949     183.726467
                207234     147.647020
                207520      86.619750
                207805      66.655449
                208090      60.816336
                208375      61.381242
                208659      77.675822
                208944     116.561488
                209229      92.105274
                209514      61.068848
                209799      49.294214
                210085      46.961492
                210370      49.714757
                210654      62.276698
                210940      98.573297
                211224      81.713282
                211509      53.856884
                211795      45.863421
                212079      43.001676
                212364      45.692457
                212649      61.889312
                212934      96.392529
                213219      84.146724
                213504      56.009904
                213790      47.815509
                214075      48.221954
                214359      53.336108
                214645      72.794911
                214929     122.290682
                215214     105.639888
                215500      66.460761
                215784      56.214176
                216069      57.193293
                216354      64.746805
                216639      87.396849
                216924     141.203491
                217209     136.701270
                217495      82.343317
                217780      65.703923
                218064      66.436769
                218349      74.434912
                218634     102.572054
                218919     172.294111
                219205     160.089208
                219489      96.517532
                219774      75.862551
                220059      71.294960
                220344      75.516426
                220629     101.255539
                220914     161.564725
                221200     135.150647
                221485      86.117117
                221769      67.937730
                222054      64.010476
                222339      68.388062
                222625      88.427906
                222910     143.299995
                223195     118.580489
                223480      75.642776
                223764      63.516510
                224049      60.701217
                224334      65.493548
                224619      94.407888
                224904     166.589539
                225190     119.694309
                225475      75.185886
                225759      64.072699
                226045      63.716739
                226329      72.478885
                226614     110.657233
                226900     226.512281
                227184     133.706383
                227469      81.337788
                227754      52.555002
                228039      80.318553
                228324     218.152169
                228609     138.150057
                228895     375.584432
                229180     240.899897
                229464      73.446466
                229750      74.953265
                230034     137.651056
                230319     218.873918
                230605     524.900757
                230889     196.639179
                231174     134.817475
                231459     151.477274
                231744     143.869090
                232029     239.667808
                232314     604.447659
                232600     776.896725
                232885    1091.018829
                233169     212.772005
                233454     122.907942
                233739     136.973498
                234024     161.709009
                234310     276.708861
                234594     815.825962
                234879     309.015702
                235164     355.148389
                235449     179.772836
                235734     131.516254
                236019     261.566459
                236305     500.381225
                236590    3150.123556
                236874     422.789759
                237159     226.433816
                237444     246.851369
                237729     277.272556
                238014     320.494980
                238300     625.865924
                238585    4273.397083
                238869     456.806638
                239155     248.348783
                239439     274.249157
                239724     323.957774
                240009     392.172553
                240295     755.922002
                240580    6085.280511
                240864     581.775248
       US       202738            NaN
                203009            NaN
                203308      60.608657
                203579      77.461415
                203864      77.306756
                204149      68.838109
                204434      93.697881
                204719     135.858384
                205018      64.975266
                205289      56.742733
                205574      76.537539
                205873      74.200687
                206143      73.853334
                206443     100.935278
                206714     147.756358
                207013     114.527455
                207284      74.137192
                207576      66.546073
                207854      83.769704
                208146      88.389686
                208423     122.728348
                208709     211.628725
                209008     110.612842
                209279     101.465966
                209564     129.747382
                209863     129.203749
                210133     131.391881
                210433     186.794385
                210704     394.948237
                211003     201.757233
                211274     172.939730
                211559     230.329759
                211844     250.641083
                212129     241.531947
                212414     345.696181
                212713     900.112223
                212984     356.537680
                213269     274.096562
                213568     382.881302
                213838     429.631152
                214138     407.039303
                214409     594.458847
                214694    1411.026134
                214979     681.250286
                215264     554.096583
                215549     690.987520
                215834     722.232140
                216119     634.418304
                216418     887.983754
                216689    2884.361442
                216974    1482.938094
                217273     912.492480
                217543     901.672352
                217843    1034.626010
                218114    1114.456851
                218413    1295.405914
                218684    2405.145857
                218969    1348.574626
                219254    1085.499518
                219539    1580.347131
                219824    1551.899310
                220123    1586.240164
                220394    2394.958761
                220679    5804.092159
                220978    2073.659654
                221248    1690.844478
                221548    2353.542816
                221819    1884.691387
                222118    1650.536686
                222389    2653.137606
                222681    7478.341813
                222959    3425.709341
                223251    2662.631952
                223528    2257.959974
                223814    1604.011232
                224113    1885.420139
                224384    3775.024886
                224669    7141.992745
                224968    2969.330764
                225238    2387.575420
                225538    2434.403290
                225809    1901.102757
                226108    1786.813017
                226379    2861.366232
                226664    7534.463302
                226949    3150.861747
                227234    2533.595211
                227519    2526.354194
                227818    1888.071356
                228089    2057.889938
                228374    3640.327072
                228673    9677.343918
                228943    4762.676905
                229243    2942.175200
                229514    2410.943778
                229799    1817.153499
                230084    1312.144347
                230369    1831.723749
                230654    7226.647759
                230939    3224.270954
                231224    2114.385743
                231523    1766.418802
                231794    1543.546809
                232079    1909.400483
                232378    3375.049246
                232648    8130.941072
                232948    2341.243219
                233219    1603.257412
                233518    1492.506115
                233789    1257.667489
                234074    1081.178312
                234359    1474.386496
                234644    4874.623884
                234929    1935.647662
                235228    1402.768683
                235499    1198.416248
                235784     986.828601
                236083    1197.642074
                236353    1909.809685
                236653    4002.596784
                236924    1461.956397
                237223    1129.423743
                237494    1009.439194
                237779     814.338184
                238078     764.931594
                238348    1070.411409
                238648    5854.340902
                238919    1274.542398
                239218     833.898998
                239489     708.958344
                239774     597.230192
                240073     849.655812
                240351    1685.491922
                240629    3509.530231
                240926     936.626192
Name: confirmed, dtype: float64

In [66]:
test_data

             date state  country   confirmed
202675 2022-01-02    no  Germany   7189329.0
202738 2022-01-02    no       US  55310349.0
202959 2022-01-03    no  Germany   7207847.0
203009 2022-01-03    no       US  56355269.0
203244 2022-01-04    no  Germany   7238408.0
203308 2022-01-04    no       US  57167433.0
203529 2022-01-05    no  Germany   7297320.0
203579 2022-01-05    no       US  57830005.0
203814 2022-01-06    no  Germany   7361660.0
203864 2022-01-06    no       US  58665038.0
204100 2022-01-07    no  Germany   7417995.0
204149 2022-01-07    no       US  59534776.0
204384 2022-01-08    no  Germany   7473884.0
204434 2022-01-08    no       US  59932461.0
204669 2022-01-09    no  Germany   7510436.0
204719 2022-01-09    no       US  60417483.0
204954 2022-01-10    no  Germany   7535691.0
205018 2022-01-10    no       US  61801391.0
205239 2022-01-11    no  Germany   7581381.0
205289 2022-01-11    no       US  62588776.0
205524 2022-01-12    no  Germany   7661811.0
205574 2022-01-12    no       US  63437430.0
205809 2022-01-13    no  Germany   7743228.0
205873 2022-01-13    no       US  64298778.0
206095 2022-01-14    no  Germany   7835451.0
206143 2022-01-14    no       US  65178855.0
206380 2022-01-15    no  Germany   7913473.0
206443 2022-01-15    no       US  65587160.0
206664 2022-01-16    no  Germany   7965977.0
206714 2022-01-16    no       US  66066952.0
206949 2022-01-17    no  Germany   8000122.0
207013 2022-01-17    no       US  66742028.0
207234 2022-01-18    no  Germany   8074527.0
207284 2022-01-18    no       US  67871539.0
207520 2022-01-19    no  Germany   8186850.0
207576 2022-01-19    no       US  68779646.0
207805 2022-01-20    no  Germany   8320386.0
207854 2022-01-20    no       US  69512255.0
208090 2022-01-21    no  Germany   8460546.0
208146 2022-01-21    no       US  70353323.0
208375 2022-01-22    no  Germany   8596007.0
208423 2022-01-22    no       US  70655818.0
208659 2022-01-23    no  Germany   8681447.0
208709 2022-01-23    no       US  71021255.0
208944 2022-01-24    no  Germany   8744840.0
209008 2022-01-24    no       US  71943314.0
209229 2022-01-25    no  Germany   8871795.0
209279 2022-01-25    no       US  72436515.0
209514 2022-01-26    no  Germany   9035795.0
209564 2022-01-26    no       US  73060564.0
209799 2022-01-27    no  Germany   9238931.0
209863 2022-01-27    no       US  73566843.0
210085 2022-01-28    no  Germany   9429079.0
210133 2022-01-28    no       US  74180919.0
210370 2022-01-29    no  Germany   9618245.0
210433 2022-01-29    no       US  74359541.0
210654 2022-01-30    no  Germany   9737215.0
210704 2022-01-30    no       US  74557505.0
210940 2022-01-31    no  Germany   9815533.0
211003 2022-01-31    no       US  75099760.0
211224 2022-02-01    no  Germany   9978146.0
211274 2022-02-01    no       US  75425177.0
211509 2022-02-02    no  Germany  10186644.0
211559 2022-02-02    no       US  75754704.0
211795 2022-02-03    no  Germany  10422764.0
211844 2022-02-03    no       US  76029519.0
212079 2022-02-04    no  Germany  10671602.0
212129 2022-02-04    no       US  76384486.0
212364 2022-02-05    no  Germany  10889417.0
212414 2022-02-05    no       US  76470918.0
212649 2022-02-06    no  Germany  11022590.0
212713 2022-02-06    no       US  76554398.0
212934 2022-02-07    no  Germany  11117857.0
212984 2022-02-07    no       US  76900842.0
213219 2022-02-08    no  Germany  11287428.0
213269 2022-02-08    no       US  77115199.0
213504 2022-02-09    no  Germany  11521678.0
213568 2022-02-09    no       US  77303612.0
213790 2022-02-10    no  Germany  11769540.0
213838 2022-02-10    no       US  77475033.0
214075 2022-02-11    no  Germany  12009712.0
214138 2022-02-11    no       US  77684350.0
214359 2022-02-12    no  Germany  12219501.0
214409 2022-02-12    no       US  77736218.0
214645 2022-02-13    no  Germany  12344661.0
214694 2022-02-13    no       US  77794537.0
214929 2022-02-14    no  Germany  12421126.0
214979 2022-02-14    no       US  77964715.0
215214 2022-02-15    no  Germany  12580343.0
215264 2022-02-15    no       US  78075878.0
215500 2022-02-16    no  Germany  12800315.0
215549 2022-02-16    no       US  78190702.0
215784 2022-02-17    no  Germany  13035941.0
215834 2022-02-17    no       US  78292391.0
216069 2022-02-18    no  Germany  13255989.0
216119 2022-02-18    no       US  78437564.0
216354 2022-02-19    no  Germany  13445094.0
216418 2022-02-19    no       US  78468970.0
216639 2022-02-20    no  Germany  13563126.0
216689 2022-02-20    no       US  78491972.0
216924 2022-02-21    no  Germany  13636993.0
216974 2022-02-21    no       US  78574857.0
217209 2022-02-22    no  Germany  13762895.0
217273 2022-02-22    no       US  78664197.0
217495 2022-02-23    no  Germany  13971947.0
217543 2022-02-23    no       US  78749339.0
217780 2022-02-24    no  Germany  14188269.0
217843 2022-02-24    no       US  78816413.0
218064 2022-02-25    no  Germany  14399012.0
218114 2022-02-25    no       US  78890787.0
218349 2022-02-26    no  Germany  14574845.0
218413 2022-02-26    no       US  78938200.0
218634 2022-02-27    no  Germany  14682758.0
218684 2022-02-27    no       US  78956420.0
218919 2022-02-28    no  Germany  14745107.0
218969 2022-02-28    no       US  79055336.0
219205 2022-03-01    no  Germany  14867218.0
219254 2022-03-01    no       US  79102045.0
219489 2022-03-02    no  Germany  15053624.0
219539 2022-03-02    no       US  79155446.0
219774 2022-03-03    no  Germany  15264297.0
219824 2022-03-03    no       US  79204054.0
220059 2022-03-04    no  Germany  15481890.0
220123 2022-03-04    no       US  79255311.0
220344 2022-03-05    no  Germany  15674100.0
220394 2022-03-05    no       US  79270229.0
220629 2022-03-06    no  Germany  15790989.0
220679 2022-03-06    no       US  79282626.0
220914 2022-03-07    no  Germany  15869417.0
220978 2022-03-07    no       US  79346712.0
221200 2022-03-08    no  Germany  16026216.0
221248 2022-03-08    no       US  79376467.0
221485 2022-03-09    no  Germany  16242070.0
221548 2022-03-09    no       US  79414167.0
221769 2022-03-10    no  Germany  16504822.0
221819 2022-03-10    no       US  79460743.0
222054 2022-03-11    no  Germany  16757658.0
222118 2022-03-11    no       US  79510453.0
222339 2022-03-12    no  Germany  16994744.0
222389 2022-03-12    no       US  79520670.0
222625 2022-03-13    no  Germany  17141351.0
222681 2022-03-13    no       US  79531720.0
222910 2022-03-14    no  Germany  17233729.0
222959 2022-03-14    no       US  79567107.0
223195 2022-03-15    no  Germany  17432617.0
223251 2022-03-15    no       US  79591483.0
223480 2022-03-16    no  Germany  17695210.0
223528 2022-03-16    no       US  79637612.0
223764 2022-03-17    no  Germany  17990141.0
223814 2022-03-17    no       US  79690784.0
224049 2022-03-18    no  Germany  18287986.0
224113 2022-03-18    no       US  79722138.0
224334 2022-03-19    no  Germany  18548225.0
224384 2022-03-19    no       US  79733017.0
224619 2022-03-20    no  Germany  18680017.0
224669 2022-03-20    no       US  79744466.0
224904 2022-03-21    no  Germany  18772331.0
224968 2022-03-21    no       US  79786736.0
225190 2022-03-22    no  Germany  18994411.0
225238 2022-03-22    no       US  79811296.0
225475 2022-03-23    no  Germany  19278143.0
225538 2022-03-23    no       US  79852310.0
225759 2022-03-24    no  Germany  19596530.0
225809 2022-03-24    no       US  79895303.0
226045 2022-03-25    no  Germany  19893028.0
226108 2022-03-25    no       US  79941739.0
226329 2022-03-26    no  Germany  20145054.0
226379 2022-03-26    no       US  79951171.0
226614 2022-03-27    no  Germany  20256278.0
226664 2022-03-27    no       US  79962962.0
226900 2022-03-28    no  Germany  20323779.0
226949 2022-03-28    no       US  80001933.0
227184 2022-03-29    no  Germany  20561131.0
227234 2022-03-29    no       US  80026111.0
227469 2022-03-30    no  Germany  20829608.0
227519 2022-03-30    no       US  80065290.0
227754 2022-03-31    no  Germany  21357095.0
227818 2022-03-31    no       US  80110925.0
228039 2022-04-01    no  Germany  21357039.0
228089 2022-04-01    no       US  80143143.0
228324 2022-04-02    no  Germany  21553495.0
228374 2022-04-02    no       US  80154952.0
228609 2022-04-03    no  Germany  21668677.0
228673 2022-04-03    no       US  80159708.0
228895 2022-04-04    no  Germany  21668677.0
228943 2022-04-04    no       US  80188617.0
229180 2022-04-05    no  Germany  21849074.0
229243 2022-04-05    no       US  80214217.0
229464 2022-04-06    no  Germany  22265788.0
229514 2022-04-06    no       US  80255163.0
229750 2022-04-07    no  Germany  22441051.0
229799 2022-04-07    no       US  80302550.0
230034 2022-04-08    no  Germany  22591726.0
230084 2022-04-08    no       US  80377576.0
230319 2022-04-09    no  Germany  22647197.0
230369 2022-04-09    no       US  80390289.0
230605 2022-04-10    no  Germany  22677986.0
230654 2022-04-10    no       US  80399824.0
230889 2022-04-11    no  Germany  22878428.0
230939 2022-04-11    no       US  80440167.0
231174 2022-04-12    no  Germany  23017079.0
231224 2022-04-12    no       US  80475911.0
231459 2022-04-13    no  Germany  23182447.0
231523 2022-04-13    no       US  80531292.0
231744 2022-04-14    no  Germany  23339311.0
231794 2022-04-14    no       US  80580254.0
232029 2022-04-15    no  Germany  23376879.0
232079 2022-04-15    no       US  80615691.0
232314 2022-04-16    no  Germany  23416663.0
232378 2022-04-16    no       US  80628021.0
232600 2022-04-17    no  Germany  23437145.0
232648 2022-04-17    no       US  80635523.0
232885 2022-04-18    no  Germany  23459628.0
232948 2022-04-18    no       US  80696919.0
233169 2022-04-19    no  Germany  23658211.0
233219 2022-04-19    no       US  80736180.0
233454 2022-04-20    no  Germany  23844536.0
233518 2022-04-20    no       US  80805121.0
233739 2022-04-21    no  Germany  24006254.0
233789 2022-04-21    no       US  80864675.0
234024 2022-04-22    no  Germany  24141333.0
234074 2022-04-22    no       US  80954726.0
234310 2022-04-23    no  Germany  24180512.0
234359 2022-04-23    no       US  80974458.0
234594 2022-04-24    no  Germany  24200596.0
234644 2022-04-24    no       US  80987948.0
234879 2022-04-25    no  Germany  24337394.0
234929 2022-04-25    no       US  81058158.0
235164 2022-04-26    no  Germany  24337394.0
235228 2022-04-26    no       US  81103505.0
235449 2022-04-27    no  Germany  24609159.0
235499 2022-04-27    no       US  81193534.0
235734 2022-04-28    no  Germany  24710769.0
235784 2022-04-28    no       US  81268049.0
236019 2022-04-29    no  Germany  24798067.0
236083 2022-04-29    no       US  81329240.0
236305 2022-04-30    no  Germany  24809785.0
236353 2022-04-30    no       US  81353206.0
236590 2022-05-01    no  Germany  24813817.0
236653 2022-05-01    no       US  81369889.0
236874 2022-05-02    no  Germany  24927339.0
236924 2022-05-02    no       US  81464558.0
237159 2022-05-03    no  Germany  25033970.0
237223 2022-05-03    no       US  81514121.0
237444 2022-05-04    no  Germany  25130137.0
237494 2022-05-04    no       US  81626103.0
237729 2022-05-05    no  Germany  25215210.0
237779 2022-05-05    no       US  81714574.0
238014 2022-05-06    no  Germany  25287462.0
238078 2022-05-06    no       US  81839787.0
238300 2022-05-07    no  Germany  25295950.0
238348 2022-05-07    no       US  81867426.0
238585 2022-05-08    no  Germany  25299300.0
238648 2022-05-08    no       US  81867752.0
238869 2022-05-09    no  Germany  25406868.0
238919 2022-05-09    no       US  81995959.0
239155 2022-05-10    no  Germany  25503878.0
239218 2022-05-10    no       US  82064361.0
239439 2022-05-11    no  Germany  25592839.0
239489 2022-05-11    no       US  82227555.0
239724 2022-05-12    no  Germany  25661838.0
239774 2022-05-12    no       US  82339667.0
240009 2022-05-13    no  Germany  25723697.0
240073 2022-05-13    no       US  82421350.0
240295 2022-05-14    no  Germany  25729848.0
240351 2022-05-14    no       US  82437442.0
240580 2022-05-15    no  Germany  25732153.0
240629 2022-05-15    no       US  82468332.0
240864 2022-05-16    no  Germany  25818405.0
240926 2022-05-16    no       US  82613620.0

In [67]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [68]:
pd_DR_result.head()

     state country  level_2  confirmed
0  Alberta  Canada        0        NaN
1  Alberta  Canada      499        NaN
2  Alberta  Canada      762        NaN
3  Alberta  Canada     1069        NaN
4  Alberta  Canada     1333        NaN

In [69]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    499           NaN
2  Alberta  Canada    762           NaN
3  Alberta  Canada   1069           NaN
4  Alberta  Canada   1333           NaN

In [71]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   level_0  index       date    state     country  confirmed
0        0      0 2020-01-22  Alberta      Canada        0.0
1        1      1 2020-01-22       no      Kosovo        0.0
2        2      2 2020-01-22       no      Kuwait        0.0
3        3      3 2020-01-22       no  Kyrgyzstan        0.0
4        4      4 2020-01-22       no        Laos        0.0

In [72]:
#del pd_JH_data['level_0']

In [73]:
pd_JH_data.head()

   index       date    state     country  confirmed
0      0 2020-01-22  Alberta      Canada        0.0
1      1 2020-01-22       no      Kosovo        0.0
2      2 2020-01-22       no      Kuwait        0.0
3      3 2020-01-22       no  Kyrgyzstan        0.0
4      4 2020-01-22       no        Laos        0.0

In [74]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state     country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta      Canada        0.0           NaN
1      1 2020-01-22       no      Kosovo        0.0           NaN
2      2 2020-01-22       no      Kuwait        0.0           NaN
3      3 2020-01-22       no  Kyrgyzstan        0.0           NaN
4      4 2020-01-22       no        Laos        0.0           NaN

In [ ]:
#pd_result_larg[pd_result_larg['country']=='Germany']

# Filtering the data with groupby apply

In [75]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [76]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [77]:
pd_filtered_result.head()

   index    state     country  confirmed  confirmed_filtered
0      0  Alberta      Canada        0.0                 0.0
1      1       no      Kosovo        0.0                 0.0
2      2       no      Kuwait        0.0                 0.0
3      3       no  Kyrgyzstan        0.0                 0.0
4      4       no        Laos        0.0                 0.0

In [78]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,Kosovo,0.0,NaN,0.0
2,2,2020-01-22,no,Kuwait,0.0,NaN,0.0
3,3,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0
4,4,2020-01-22,no,Laos,0.0,NaN,0.0

# Filtered doubling rate

In [79]:
pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

       state   country   index  confirmed_filtered_DR
241105    no  Zimbabwe  239826            1716.849781
241106    no  Zimbabwe  240039            2017.064290
241107    no  Zimbabwe  240346            1840.654841
241108    no  Zimbabwe  240588            1895.517941
241109    no  Zimbabwe  241109            2371.917222

In [80]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
241105,241105,2022-05-16,no,Andorra,42156.0,inf,42156.0,-5.793877e+15
241106,241106,2022-05-16,no,Algeria,265823.0,7.594829e+04,265822.6,7.818212e+04
241107,241107,2022-05-16,no,Albania,275621.0,1.172780e+04,275636.4,7.807397e+03
241108,241108,2022-05-16,no,Argentina,9135308.0,5.368783e+02,9135308.0,8.949083e+02
241109,241109,2022-05-16,no,Zimbabwe,249431.0,2.215831e+03,249393.6,2.371917e+03

In [81]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [82]:
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0,NaN
1,1,2020-01-22,no,Kosovo,0.0,NaN,0.0,NaN
2,2,2020-01-22,no,Kuwait,0.0,NaN,0.0,NaN
3,3,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0,NaN
4,4,2020-01-22,no,Laos,0.0,NaN,0.0,NaN

In [83]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
239724,239724,2022-05-12,no,Germany,25661838.0,323.957774,25642420.0,342.144097
240009,240009,2022-05-13,no,Germany,25723697.0,392.172553,25688075.0,465.049865
240295,240295,2022-05-14,no,Germany,25729848.0,755.922002,25733188.2,566.010880
240580,240580,2022-05-15,no,Germany,25732153.0,6085.280511,25765347.2,665.928242
240864,240864,2022-05-16,no,Germany,25818405.0,581.775248,25797506.2,801.186206

In [84]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)